@media (max-width: 1400px) {
    .header-top {
        height: 70px;
    }
    .logo-text {
        font-size: 18px;
    }
    .menu-list {
        li {
            margin-left: 45px;
        }
    }
    .popup-1 {
        margin-left: 45px;
    }
    .header-bot {
        margin-top: 150px;
        max-width: 900px;
    }
    .header-bot-title {
        font-size: 30px;
        line-height: 42px;
    }
    .header-bot-text {
        font-size: 23px;
        line-height: 37px;
    }
    .header-bot-btn {
        padding: 10px 45px;
        font-size: 29px;
        line-height: 37px;
        margin-top: 30px;
    }
    .our-stack-programs {
        margin: 40px auto 0;
    }
    .our-stack-title {
        font-size: 30px;
        line-height: 42px;
    }
    .our-team {
        margin-top: 150px;
    }
    .our-team-title {
        font-size: 30px;
        line-height: 42px;
    }
    .our-team-members {
        margin: 40px auto 0;
        grid-column-gap: 100px;
        grid-row-gap: 30px;
    }
    .our-team-member-text {
        margin: auto 0 auto 20px;
    }
    .our-team-member-name {
        line-height: 27px;
        font-size: 21px;
    }
    .our-team-member-position {
        line-height: 20px;
        font-size: 17px;
    }
    .our-team-member-img img {
        width: 80%;
    }
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-center {
        font-size: 12px;
        line-height: 15px;
    }
    .footer-left {
        line-height: 15px;
        font-size: 12px;
    }
    .footer-right-social-icons a+a {
        padding-left: 30px;
    }
    .footer-menu-list {
        margin-left: 13px;
        li+li {
            margin-left: 45px;
        }
    }
    .popup-2 {
        margin-left: 45px;
    }
    .popup {
        max-width: 1200px;
        margin-top: 40px;
    }
    .popup-title {
        font-size: 30px;
        line-height: 42px;
    }
    .popup-contacts input {
        height: 30px;
        width: 450px;
        padding-top: 30px;
        line-height: 23px;
        font-size: 20px;
    }
    .popup-message textarea {
        height: 250px;
        width: 450px;
        letter-spacing: 0.1em;
        line-height: 23px;
        font-size: 20px;
    }
    .popup-contacts input::placeholder,
    .popup-message textarea::placeholder {
        line-height: 23px;
        font-size: 20px;
        height: 40px;
    }
    .popup-contacts button {
        padding: 16px 150px;
        margin-top: 50px;
        line-height: 30px;
        font-size: 25px;
    }
    body {
        background-image: none;
    }
    .ourStackBg-2 {
        background-image: none;
    }
    .ourStackBg-3 {
        background-image: nobe;
    }
    .contactUsBg-2 {
        background-image: none
    }
}

@media (max-width: 1000px) {
    .header-top {
        height: 70px;
    }
    .logo-text {
        font-size: 15px;
    }
    .menu-list {
        li {
            margin-left: 10px;
        }
    }
    .popup-1 {
        margin-left: 10px;
    }
    .header-bot {
        margin-top: 50px;
        max-width: 700px;
    }
    .header-bot-title {
        font-size: 25px;
        line-height: 35px;
    }
    .header-bot-text {
        font-size: 18px;
        line-height: 25px;
    }
    .header-bot-btn {
        padding: 7px 25px;
        font-size: 23px;
        line-height: 25px;
        margin-top: 20px;
    }
    .our-stack {
        margin-top: 30px;
    }
    .our-stack-title {
        font-size: 25px;
        line-height: 35px;
    }
    .our-stack-programs {
        max-width: 500px;
        cursor: pointer;
        display: grid;
        grid-template-columns: 50px 50px 50px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin: 30px auto 0;
    }
    .popup {
        max-width: 900px;
        margin-top: 30px;
    }
    .popup-title {
        font-size: 25px;
        line-height: 35px;
    }
    .popup-contacts input {
        height: 25px;
        width: 350px;
        padding-top: 25px;
        line-height: 19px;
        font-size: 15px;
    }
    .popup-message textarea {
        height: 200px;
        width: 350px;
        letter-spacing: 0.1em;
        line-height: 19px;
        font-size: 15px;
    }
    .popup-contacts input::placeholder,
    .popup-message textarea::placeholder {
        line-height: 19px;
        font-size: 15px;
        height: 28px;
    }
    .popup-contacts button {
        padding: 10px 90px;
        margin-top: 40px;
        line-height: 25px;
        font-size: 20px;
    }
    .our-team {
        margin-top: 100px;
    }
    .our-team-title {
        font-size: 25px;
        line-height: 35px;
    }
    .our-team-members {
        margin: 30px auto 0;
        grid-column-gap: 60px;
        grid-row-gap: 20px;
    }
    .our-team-member-text {
        margin: auto 0 auto 5px;
    }
    .our-team-member-name {
        line-height: 20px;
        font-size: 15px;
    }
    .our-team-member-position {
        line-height: 17px;
        font-size: 14px;
    }
    .our-team-member-img img {
        width: 80%;
    }
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-right-social-icons a+a {
        padding-left: 5px;
    }
    .footer-menu-list {
        margin-left: 0px;
        li+li {
            margin-left: 10px;
        }
    }
    .popup-2 {
        margin-left: 10px;
    }
}

@media (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: $blue;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .header-top {
        height: 8vh;
    }
    .menu-list {
        position: absolute;
        right: 0px;
        top: 15vh;
        height: 90vh;
        width: 50vh;
        background-color: $blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .menu-list li {
        opacity: 0;
        margin-top: 10vh;
    }
    .menu-list a {
        color: #fff;
    }
    .header-top {
        height: 30px;
    }
    .popup-1 {
        margin-top: 10%;
    }
    .header-bot {
        margin-top: 40px;
        max-width: 450px;
    }
    .header-bot-title {
        font-size: 20px;
        line-height: 27px;
    }
    .header-bot-text {
        font-size: 13px;
        line-height: 18px;
    }
    .header-bot-btn {
        padding: 5px 20px;
        font-size: 18px;
        line-height: 20px;
    }
    .our-stack {
        margin-top: 30px;
    }
    .our-stack-title {
        font-size: 20px;
        line-height: 27px;
    }
    .our-stack-programs {
        max-width: 320px;
        display: grid;
    }
    .popup {
        max-width: 400px;
        margin-top: 20px;
    }
    .popup-title {
        font-size: 20px;
        line-height: 27px;
    }
    .popup-contacts input {
        height: 22px;
        width: 150px;
        padding-top: 20px;
        line-height: 15px;
        font-size: 10px;
    }
    .popup-message textarea {
        height: 150px;
        width: 150px;
        line-height: 15px;
        font-size: 10px;
    }
    .popup-contacts input::placeholder,
    .popup-message textarea::placeholder {
        line-height: 15px;
        font-size: 10px;
        height: 20px;
    }
    .popup-contacts button {
        padding: 5px 30px;
        margin-top: 15px;
        line-height: 20px;
        font-size: 15px;
    }
    .our-team {
        margin-top: 30px;
    }
    .our-team-title {
        font-size: 20px;
        line-height: 27px;
    }
    .our-team-members {
        margin: 10px auto 0;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
    }
    .our-team-member-text {
        margin: auto 0 auto 5px;
    }
    .our-team-member-name {
        line-height: 17px;
        font-size: 13px;
    }
    .our-team-member-position {
        line-height: 15px;
        font-size: 10px;
    }
    .footer-menu-list {
        li+li {
            margin-left: 4px;
        }
    }
    .popup-2 {
        margin-left: 4px;
    }
}

.nav-active {
    transform: translate(0%);
    z-index: 1;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}