@import "vars";
@import "libs";
@import "fonts";
@import "global";
.header {
    padding-top: 42px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    height: 99px;
    align-items: center;
    
}
.logo {
    display: flex;

}
.logo-text {
    margin: auto;
    font-size: 24px;
    font-family: Roboto;
    letter-spacing: 0;
}
.header-top-options {
    display: flex;
}

.menu-list {
    display: flex;
    li {
        margin-left: 57px;
    }
}
.menu-list a{
    color: $grey;
}
.popup-1 {
    margin-left: 57px;
    color: $blue;
 
}
.header-bot {
    margin-top: 200px;
    max-width: 1150px;
}
.header-bot-title{
    font-size: 48px;
    line-height: 56px;
}
.header-bot-text {
    font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 30px;
    line-height: 49px;
    color: $grey;
    margin-right: 243px;
}
.header-bot-btn {
    padding: 18px 78px;
    background-color: $blue;
    font-size: 36px;
    line-height: 42px;
    margin-top: 40px;
    }

.our-stack {
    margin-top: 100px;
}
.our-stack-title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
.our-stack-programs {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1054px;
    margin: 60px auto 0;
}
.our-team {
    margin-top: 300px;
}
.our-team-members{
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 130px;
    grid-row-gap: 50px;
}
.our-team-member img {
    border-radius: 50%;
}
.our-team-member {
    display: flex;
}
.our-team-member-text {
    margin: auto 0 auto 35px;
}
.our-team-member-name {
    line-height: 35px;
    font-size: 30px;
}
.our-team-member-position {
    line-height: 28px;
    font-size: 24px;
    color: $grey;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
}
.our-team-title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
.footer{
    padding-left: 40px;
    padding-right: 100px;
    color: $grey;
    background-color: #1b1b1b;
    position: relative;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
}
.footer-center {
    position: absolute;
    left: 50%;
    top: 50%;
}
.footer-right {
    margin: auto 0;
}
.footer-rigth a + a {
    padding-left: 50px;
}
.footer-left {
    align-items: center;
    display: flex;
}
.footer-menu-list {
    margin-left: 17px;
    display: flex;
    li + li {
        margin-left: 57px;
    }
}
.footer-menu-list a{
    color: $grey;
}
.popup-2 {
    margin-left: 57px;
    color: $grey;
}
@import "media";
